<html>

<body>

<!--<div>Список сообщений</div>-->

<!--<form method="post">-->
<!--    <input type="text" name="name" placeholder="введите сообщение">-->
<!--    <input type="text" name="tag" placeholder="tag">-->
<!--    <button type="submit">Добавить сообщение</button>-->
<!--</form>-->

<!--{{#messages}}-->
<!--    <div>-->
<!--        <b>{{id}}</b>-->
<!--        <b>{{name}}</b>-->
<!--        <b>{{tag}}</b>-->
<!--    </div>-->
<!--{{/messages}}-->
</body>
</html>